.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    margin: 0;
}

aside {
    overflow-x: hidden;
    margin-left: 15px;
}

aside > form {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: fit-content;
    height: fit-content;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

header h1 {
    font-size: 1.2rem;
    color: gray;
}

.aside-row {
    grid-column-start: span 4;
}

.ratio-h,
.ratio-v {
    width: 40px;
}

.inches {
    width: 60px;
}

.inputShown {
    position: relative;
}

.inputShown > input,
.inputShown + div,
.inputShown + div + div,
.inputShown + div + div + div {
    z-index: 1;
}

.inputShown.selected::before {
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    left: 0;
    background-color: #1da1f2;
}

.del {
    cursor: pointer;
    margin-right: 10px;
    color: lightgray;
}

.del:hover {
    color: #000000;
}

main {
    position: relative;
    margin: 20px;
    margin-right: 25px;
}

.screen {
    position: absolute;
    border: 2px solid #666;
}
