.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: min-content 1fr;
    margin: 0;
    margin-left: 15px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (orientation: landscape) {
    main {
        grid-column-start: 2;
        grid-row-start: span 2;
    }
    .ref-pos {
        grid-column-start: 1;
        grid-row-start: 2;
    }
}

@media (orientation: portrait) {
    main {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .ref-pos {
        grid-column-start: 2;
    }
}

aside {
    margin-right: 20px;
}

aside > form {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: fit-content;
    height: fit-content;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    overflow-x: hidden;
}

aside header h1 {
    font-size: 1.2rem;
    color: gray;
}

.aside-row {
    grid-column-start: span 4;
}

.ratio-h,
.ratio-v {
    width: 45px;
    margin: 3px;
}

.inches {
    width: 60px;
    margin: 3px;
}

.inputShown {
    position: relative;
}

.inputShown > input,
.inputShown + div,
.inputShown + div + div,
.inputShown + div + div + div {
    z-index: 1;
}

.inputShown::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 0;
}

.inputShown.selected::before {
    background-color: #1da1f2;
}

.del {
    cursor: pointer;
    margin-right: 10px;
    color: lightgray;
}

.del:hover {
    color: #000000;
}

.ref-pos {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-right: 20px;
}

.ref-pos .box {
    max-width: 120px;
    max-height: 100px;
    border: 1px solid #666;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ref-pos .box > div {
    background-color: lightgray;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.ref-pos .box > div.selected {
    background-color: #1da1f2;
}

main {
    position: relative;
    margin: 20px 25px 20px 0;
}

.screen {
    position: absolute;
    border: 2px solid #666;
}
